@font-face {
  font-family: 'Tungsten-Medium';
  src: url('../fonts/Tungsten-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Extra-Mile';
  src: url('../fonts/Extra-Mile.ttf') format('truetype');
}

body{
  background: url(../images/background.png);
  background-size: cover;
  font-family: 'Tungsten-Medium';
}

$white: rgb(255,255,255);
$gray: rgb(204,204,204);
$primary-color: rgba(153,7,7,1);
$back-color: rgba(214,207,189,.6);
$text-color: rgba(107,107,107,1);
$text-color1: rgba(56,56,56,1);
$text-color2: rgba(221,221,221,1);
$text-color3: rgb(103,101,101);

a{
  &:hover{
    text-decoration: none;
    color: $white;
  }
  &:focus{
    text-decoration: none;
    outline: none;
  }
}

.no-scroll{
  overflow: hidden;
}

.d-mobile{
  display: none;
}

:focus{
  outline: 0;
}

.img-responsive{
  margin: 0 auto;
}

.modal{
  z-index: 10050;
}

.modal-backdrop{
  z-index: 10040;
}

.modal-backdrop.in{
  opacity: .8;
}

#wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.menu{
  width: 100%;
  background: url(../images/menu.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  opacity: 1;
  transition: all ease 0.4s;
  &--show{
    z-index: 9000;
  }
  &--hidden{
    opacity: 0;
    z-index: -1;
  }
  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    &__hover-img{
      opacity: 0;
      transition: all ease 0.4s;
    }
    li{
      list-style: none;
      text-align: center;
      position: relative;
      &:hover{
        span{
          &:after{
            transform: rotate(0deg);
            top: 0px;
          }
        }
        .menu__container__hover-img{
          opacity: 1;
        }
      }
      a{
        font-size: 1.6em;
        text-transform: uppercase;
        color: $white;
        font-family: 'Tungsten-Medium';
        position: relative;
        display: inline-block;
        cursor: pointer;
        &.second-menu{
          span{
            &:after{
              position: relative;
              top: -4px;
              left: 10px;
              content: '';
              background: url(../images/arrow-up.png) no-repeat;
              transform: rotate(180deg);
              display: inline-block;
              width: 14px;
              height: 14px;
              background-size: 14px;
              transition: all ease 0.4s;
            }
          }
          &:hover{
            span{
              &:after{
                transform: rotate(0deg);
                top: 0px;
              }
            }
          }
        }
      }
      .profile-pic{
        height: 54px;
        width: 54px;
        border-radius: 50%;
        background: url(../images/prof-pic.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: inline-block;
      }
    }
  }
  &__left{
    position: relative;
    li{
      padding: 15px 0;
      margin: 0 20px;
    }
  }
  &__right{
    position: relative;
    li{
      padding: 15px 0;
      margin: 0 20px;
      &:hover{
        .menu__right__second{
          display: inline-block;
          opacity: 1;
        }
      }
      &:last-child{
        .second-menu{
          span{
            color: #ffffcc;
          }
        }
      }
    }
    &__second{
      display: none;
      opacity: 0;
      width: 200px;
      position: absolute;
      padding: 15px 0px;
      background-color: $text-color1;
      left: -40px;
      top: 60px;
      transition: all ease 0.4s;
      li{
        float: none;
        padding: 8px 30px;
        text-align: center;
        line-height: 1;
        cursor: pointer;
        &:hover{
          background: url(../images/menu-hover.png) no-repeat;
          a{
            color: rgba(250,236,192,1);
          }
        }
      }
    }
  }
  &-active{
    .menu__container__hover-img{
      opacity: 1;
    }
  }
  &-ticket{
    color: rgb(255,255,204);
  }

  // for mobile
  .wrap-bar{
    padding: 5.5px 0;
    cursor: pointer;
    z-index: 10;
    .bar{
      width: 35px;
      height: 5px;
      background-color: #ffffcc;
      margin: 6px 0;
      transition: .4s;
      border-radius: 2px;
      &-1{
        &.change{
          transform: rotate(-45deg) translate(-9px,6px);
        }
      }
      &-2{
        &.change{
          opacity: 0;
        }
      }
      &-3{
        &.change{
          transform: rotate(45deg) translate(-9px,-7px);
        }
      }
    }
  }
  &-mobile{
    $m: &;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    background: rgba(153,7,7,1);
    text-align: center;
    z-index: -10;
    transition: all ease 0.4s;
    padding: 60px 0;
    &--show{
      opacity: 1;
      z-index: 10000;
    }
    .menu_active{
      > img{
        opacity: 1;
      }
    }
    ul{
      padding: 0;
      margin: 5px 0 0;
      li{
        list-style: none;
        margin-bottom: 10px;
        a{
          text-transform: capitalize;
          color: $white;
          font-size: 2.4em;
          letter-spacing: 1px;
        }
        &:last-child{
          #{$m}{
            &__sub-menu{
              span{
                color: #ffffcc;
              }
            }
          }
        }
      }
    }
    &__sub-menu{
      span{
        &:after{
          position: relative;
          top: -4px;
          left: 10px;
          content: '';
          background: url(../images/arrow-up.png) no-repeat;
          transform: rotate(0deg);
          display: inline-block;
          width: 14px;
          height: 14px;
          background-size: 14px;
          transition: all ease 0.2s;
        }
      }
      &.collapsed{
        span{
          &:after{
            transform: rotate(180deg);
          }
        }
      }
    }
    &__close{
      transform: scale(1.6);
      position: absolute;
      right: 40px;
      top: 40px;
    }
  }
}

/*
  for shadow
*/

.mic{
  right: 0;
  top: 550px;
  z-index: -1;
}

.shadow{
  position: absolute;
  &-top{
    top: -125px;
  }
  &-left{
    left: 0;
    top: -200px;
  }
  &--bottom{
    &-home{
      top: 500px;
    }
  }
}



/*
  for all title
*/

.ticket,
.privacy-police,
.faq,
.term-condition,
.memories,
.modal-thankyou,
.ticket-information,
.rundown,
.join-activity,
.highlight,
.the-journeys,
.how-to-win,
.location,
.performer,
.journey{
  &__title{
    font-family: 'Extra-Mile';
    text-align: center;
    font-size: 8em;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 60px;
    &--related{
      font-size: 5em;
      margin-bottom: 0px;
    }
  }
}

/*
  homepage
*/

.first-section{
  .hero-image{
    width: 100%;
    text-align: center;
    position: relative;
    background: url(../images/hero-img.png) no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    // height: 768px;
  }

  .explore-video{
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50%;
    color: $white;
    font-family: Tungsten-Medium;
    font-size: 1em;
    position: absolute;
    bottom: 76px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    line-height: 4.5;
  }

  .see-more{
    display: inline;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    span{
      font-family: 'Tungsten-Medium';
      color: $primary-color;
      font-size: 1.2em;
    }
  }
}

.modal-video{
  &__frame{
    width: 100%;
    text-align: center;
  }
  .modal-dialog{
    width: auto;
    margin: 0;
    height: 100%;
  }
  .modal-content{
    background: transparent;
    box-shadow: none;
    border: none;
    .modal-body{
      padding: 60px 0 0;
      display: flex;
      justify-content: center;
    }
    .close-modal{
      position: absolute;
      top: 0;
      color: $white;
      font-size: 1.4em;
      text-transform: uppercase;
      cursor: pointer;
      &:before{
        content: '';
        background: url(../images/close-modal.png) no-repeat;
        display: inline-block;
        width: 14px;
        height: 14px;
        background-size: 14px;
        position: relative;
        left: -5px;
      }
    }
  }
  .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
}

.join-section{
  position: relative;
  // margin-top: 100px;
  padding-top: 50px;
  .experience-cloud{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -2;
  }
  .experience-img{
    z-index: 10;
    position: relative;
    top: 140px;
  }
  .path-home{
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2;
  }
}

.drum-stick{
  position: absolute;
  top: 800px;
}

.experience{
  position: relative;
  font-family: 'Tungsten-Medium';
  text-align: center;
  top: 120px;
  &__title{
    margin: 0;
    &--head{
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      text-align: center;
      z-index: -1;
      color: #fff;
      font-size: 23em;
      text-transform: uppercase;
      text-shadow: 1px 2px 100px rgba(0,0,0,.4);
      margin: 0;
    }
  }
  p{
    font-size: 2em;
    width: 650px;
    margin: 0 auto;
  }
  &__content{
    display: flex;
    align-items: center;
    font-size: 3em;
    line-height: 1;
    &:nth-child(2),
    &:nth-child(4){
      p{
        text-align: left;
      }
    }
    &:nth-child(3){
      p{
        text-align: right;
      }
    }
    &__trick-mobile{
      display: none;
    }
  }
}

.button-super{
  cursor: pointer;
  display: inline-block;
  &:focus{
    text-decoration: none;
  }
  span{
    font-family: 'Tungsten-Medium';
    background-size: cover;
    background-repeat: no-repeat;
    width: 286px;
    height: 72px;
    display: block;
    margin: 20px auto 0;
    text-align: center;
    font-size: 3em;
    line-height: 1.8;
    text-transform: uppercase;
  }
  &--primary{
    span{
      background: url(../images/cta-button.png) no-repeat;
      background-position: center;
      color: $white;
    }
  }
  &--second{
    span{
      background: url(../images/cta-button-white.png) no-repeat;
      background-position: center;
      color: $primary-color;
    }
  }
  &--see-more{
    span{
      width: 200px;
      height: 50px;
      font-size: 2em;
      line-height: 2;
      background-size: 100%;
    }
  }
}

.location{
  $c: &;
  position: relative;
  padding-top: 150px;
  height: 640px;
  .container{
    position: relative;
  }
  &__container{
    width: 900px;
    margin: 0 auto;
  }
  &__background,
  &__destination{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
  }
  &__background{
    top: 0;
  }
  &__destination{
    top: 400px;
    &-txt{
      position: absolute;
      top: 235px;
      left: -100px;
      color: $text-color;
      transform: rotate(270deg);
      font-size: 2.5em;
      letter-spacing: 4px;
      text-transform: capitalize;
    }
  }
  &__content{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .zoom-content{
    img,h3{
      transform: scale(1.5);
    }
    h3{
      padding-top: 30px;
    }
    &:hover{
      #{$c}{
        &__zoom{
          &__detail{
            opacity: 1;
            z-index: 1;
            display: flex;
          }
        }
      }
    }
  }
  &__zoom{
    text-transform: capitalize;
    display: table;
    position: relative;
    cursor: pointer;
    img,h3{
      transition: all 0.4s ease-in-out;
    }
    h3{
      margin-top: 10px;
      color: $text-color;
      position: relative;
    }
    &__detail{
      transition: all ease 0.4s;
      opacity: 0;
      width: 300px;
      text-align: left;
      font-size: 2em;
      color: $text-color;
      position: absolute;
      left: 0px;
      // display: flex;
      display: none;
      z-index: -1;
      .location{
        &-name{
          font-size: 1em;
          color: #ffffcc;
          position: relative;
          z-index: 1;
          margin: 10px 0 6px;
          &-container{
            position: relative;
            img{
              position: absolute;
              z-index: 0;
              left: 20px;
            }
          }
        }
        &-date{
          font-size: .8em;
          margin: 0;
        }
      }
      &__map{
        position: absolute;
        right: 0;
        span{
          position: relative;
          top: -15px;
          right: 8px;
          font-size: .6em;
          display: block;
        }
        .map-gps{
          width: 15px;
          position: relative;
          bottom: -15px;
          right: 10px;
        }
        .sq{
          position: absolute;
          width: 15px;
          right: -20px;
          &--top{
            transform: scale(1) !important;
            top: -26px;
          }
          &--bottom{
            transform: rotate(90deg) !important;
            bottom: -25px;
          }
        }
      }
    }
  }
  .non-zoom-content{
    #{$c}{
      &__zoom{
        &__detail{
          width: 250px;
          &__map{
            right: 30px;
            span{
              top: 12px;
            }
            .sq{
              &--top{
                top: 0px;
              }
            }
          }
          .location-name-container{
            img{
              transform: scale(1.2);
              left: 0;
            }
          }
        }
      }
    }
    &:hover{
      #{$c}{
        &__zoom{
          &__detail{
            opacity: 1;
            z-index: 1;
            display: flex;
          }
        }
      }
    }
  }

}

.modal-location{
  &__header{
    position: relative;
  }
  &__title{
    color: #ffffcc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
  }
  p{
    color: $text-color;
    font-size: 1.8em;
  }
  .modal-dialog{
    width: 320px;
  }
  .modal-body{
    display: block !important;
  }
}

.performer{
  padding-top: 50px;
  &__img{
    .slick{
      &-slide{
        padding: 40px 0;
        overflow: hidden;
      }
      &-prev{
        left: 40px;
      }
      &-next{
        right: 80px;
        &:before{
          transform: rotate(180deg);
        }
      }
      &-prev,
      &-next{
        z-index: 2;
        &:before{
          content: '';
          background: url(../images/arrow.png) no-repeat;
          display: inline-block;
          width: 50px;
          height: 50px;
        }
      }
      &-center{
        transform: scale(1.4);
        position: relative;
        z-index: 1;
        transition: all ease-in-out 0.4s;
      }

    }
    &__container{
      position: relative;
    }
  }

  .slick-center{
    &.slick-current{
      .slick-current__txt{
        background: url(../images/map-cover.png) no-repeat;
        background-size: cover;
        transform: scale(1.5);
        position: absolute;
        bottom: 100px;
        width: 100%;
        height: 100px;
        text-align: center;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
          margin: 0
        }
      }
    }
  }
  .slick-current-display{
    display: none;
  }
  .slick-center.slick-current{
    .slick-current-display{
      display: block;
    }
  }
}

.journey{
  font-family: 'Tungsten-Medium';
  text-align: center;
  padding: 130px 0 70px;
  position: relative;
  &__shadow,
  &__vinyl,
  &__ticket{
    position: absolute;
  }
  &__shadow{
    left: 0;
    z-index: -1;
    top: 60px;
  }
  &__vinyl{
    left: 0;
    top: 500px;
  }
  &__ticket{
    right: 0;
    top: 650px;
  }
  &__img{
    margin: 0 auto;
    position: relative;
    left: 50px;
  }
  h3{
    font-size: 4em;
  }
  p{
    width: 500px;
    margin: 0 auto;
    font-size: 2.2em;
  }
}

footer{
  position: absolute;
  width: 100%;
  // bottom: 0;
  background: url(../images/footer.png) no-repeat;
  background-size: cover;
  height: 115px;
  font-family: 'Tungsten-Medium';
  &.footer-bottom{
    bottom: 0;
  }
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      padding: 40px 40px 0px;
      a{
        font-size: 1.4em;
        color: $white;
      }
    }
  }
  span{
    margin-top: 15px;
    text-align: center;
    display: block;
    color: $white;
    font-size: 1.2em;
  }
}

/*
  How to win
*/

.how-to-win{
  padding-top: 200px;
  &__shadow-img{
    position: absolute;
    top: 0;
    z-index: -1;
  }
  &__title{
    margin-bottom: 20px;
  }
  h4{
    font-weight: normal;
    font-size: 2.8em;
    text-align: center;
    width: 650px;
    margin: 0 auto;
  }
  &__step{
    margin-top: 80px;
    position: relative;
    &__img{
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
    &__flow{
      // padding: 0 20px;
      text-align: center;
      &__img{
        img{
          position: relative;
          left: -20px;
        }
      }
      &__txt{
        margin-top: 50px;
        h5{
          text-transform: uppercase;
          font-size: 3.2em;
        }
        p{
          font-size: 2.3em;
          color: $text-color;
        }
      }
      &--1{
        margin-top: 80px;
      }
      &--3{
        margin-top: 120px;
      }
    }
  }
}

.the-journeys{
  text-align: center;
  padding-top: 70px;
  padding-bottom: 80px;
  &__prof-img{
    width: 100%;
    opacity: 0;
  }
  &__content{
    margin-top: 60px;
    &__img{
      position: relative;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      &:hover{
        .vote{
          opacity: 1;
        }
      }
    }
    &__txt{
      margin-top: 40px;
      text-align: center;
      h5{
        margin: 0;
        font-size: 2.6em;
        color: $text-color1
      }
    }
  }
  .vote{
    transition: all ease 0.4s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    &__hover{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary-color;
      opacity: 0.9;
      width: 100%;
      height: 100%;
      &__img{
        position: absolute;
        left: 0;
        right: 0;
        z-index: 0;
      }
      h5,h6{
        user-select: none;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        margin: 0;
        top: 20px;
      }
      h5{
        font-size: 4em;
      }
      h6{
        font-size: 2em;
        color: $white;
      }
    }
  }
  .button-super{
    margin-top: 60px;
  }
}

.vote-modal-slide{
  position: fixed;
  &__content{
    &__img{
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      img{
        opacity: 0;
      }
    }
    iframe{
      height: 450px;
    }
  }
  .modal-dialog{
    margin-top: 11%;
  }
  .modal-body{
    // display: flex;
    // align-items: center;
    padding: 50px;
    background: url(../images/backgrund-modal-vote.png);
    background-size: cover;
    position: relative;
    .close-modal{
      position: absolute;
      top: 10px;
      right: 20px;
      color: $white;
      font-size: 1.4em;
      text-transform: uppercase;
      cursor: pointer;
      &:before{
        content: '';
        background: url(../images/close-modal.png) no-repeat;
        display: inline-block;
        width: 14px;
        height: 14px;
        background-size: 14px;
        position: relative;
        left: -5px;
      }
    }
    .carousel-inner{
      .row{
        display: flex;
        align-items: center;
      }
      p{
        font-size: 1.6em;
        color: $text-color2;
      }
    }
    .carousel-control{
      &.left{
        background: none;
        left: -120px;
      }
      &.right{
        background: none;
        right: -100px;
      }
      .glyphicon{
        &:before{
          content: '';
          background: url(../images/arrow.png) no-repeat;
          display: inline-block;
          width: 50px;
          height: 50px;
        }
        &-chevron{
          &-left{
            &:before{
              content: '';
            }
          }
          &-right{
            &:before{
              content: '';
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    .button-super{
      &--modal{
        position: absolute;
        right: 50px;
        bottom: -20px;
        span{
          width: 200px;
          height: 50px;
          font-size: 2em;
          line-height: 2;
        }
      }
    }
  }
  &__profile{
    text-align: center;
    margin-top: 20px;
    h5,h6{
      margin: 0;
      color: $text-color2;
      text-transform: capitalize;
    }
    h5{
      font-size: 2.2em;
    }
    h6{
      font-size: 1.8em;
      margin-top: 6px;
      span{
        color: $primary-color;
        text-transform: uppercase;
      }
    }
  }
}

/*
  Highlight
*/

.highlight{
  padding: 200px 0 0;
  &__input{
    float: right;
    background: url(../images/search-box.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 320px;
    height: 65px;
    background-size: 100%;
    input{
      background-color: transparent;
      border: none;
      font-size: 2em;
      color: rgb(193,193,193);
      margin-left: 10px;
      &:focus{
        outline: none
      }
    }
  }
  &__container{
    margin-top: 60px;
  }
  &__content{
    margin-bottom: 80px;
    &__img{
      width: 100%;
      height: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      img{
        opacity: 0;
      }
    }
    &__txt{
      h2{
        margin-top: 40px;
        font-size: 3em;
        color: black;
      }
      h3{
        font-size: 2.3em;
        margin: 0 0 20px;
      }
      p{
        font-size: 2.6em;
        line-height: 1.2;
        color: rgb(127,127,127)
      }
    }
  }
  &--related{
    padding-top: 100px;
    position: relative;
  }
}

/*
  Detail Highlight
*/

.highlight-detail{
  padding-top: 114px;
  position: relative;
  &__hero-img,
  &__fluid{
    position: relative;
  }
  &__shadow-bottom,
  &__img{
    position: absolute;
    left: 0;
    right: 0;
  }
  &__shadow-bottom{
    right: -43%;
    bottom: 0;
  }
  &__img{
    top: 0;
    z-index: -1;
  }
  &__title{
    position: absolute;
    bottom: 20px;
    left: 10%;
    font-size: 4.5em;
    color: $white;
    width: 500px;
  }
  &__content{
    padding-top: 60px;
    h4{
      font-size: 2em;
      margin-bottom: 30px;
    }
    p{
      font-size: 2em;
      line-height: 1.4;
      color: $text-color3;
      margin: 0 0 30px;
      &:nth-child(2){
        &:first-letter{
          font-size: 250%;
          font-weight: bold;
        }
        &:first-line{
          line-height: .9;
        }
      }
    }
    &__share{
      display: flex;
      align-items: center;
      margin-top: 60px;
      h3{
        margin: 0;
        text-transform: uppercase;
        margin-right: 30px;
        font-size: 2.8em;
        color: $text-color3;
        position: relative;
        top: 2px;
      }
      a{
        text-transform: uppercase;
        cursor: pointer;
        width: 150px;
        padding: 5px;
        text-align: center;
        color: $white;
        font-size: 1.8em;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
          margin-right: 10px;
        }
        &.fb{
          background-color: #3b5998;
          margin-right: 10px;
        }
        &.twt{
          background-color: #1bb2e9
        }
      }
    }
  }
  .most-read{
    margin-top: 15%;
    &__title{
      font-family: 'Extra-Mile';
      text-align: center;
      text-transform: uppercase;
      font-size: 4em;
      color: $primary-color;
    }
    &__content{
      display: flex;
      align-items: center;
      justify-content: center;
      &__img{
        width: 30%;
        position: relative;
        span{
          position: absolute;
          font-size: 3.5em;
          color: $white;
          top: 6px;
          left: 0;
          right: 0;
          text-align: center;
        }
      }
      &__txt{
        width: 70%;
        margin-left: 15px;
        a{
          color: black;
          text-transform: uppercase;
          font-size: 2em
        }
      }
    }
  }
}


/*
  Rundown
*/

.rundown{
  padding-top: 180px;
  &__container{
    background-color: $back-color;
    padding: 60px 0;
    .tab-content{
      width: 100%;
      .active{
        display: inline-table;
      }
    }
  }
  &__table{
    width: 100%;
    tr{
      &:nth-child(even){
        background-color: $white;
      }
      &:nth-child(1){
        td{
          font-size: 3.3em;
        }
      }
      td{
        padding: 20px;
        font-size: 2.3em;
        color: $text-color;
        &:first-child{
          text-align: center;
        }
        &:last-child{
          border-left: solid $text-color 1px;
        }
        span{
          color: $primary-color;
        }
      }
    }
  }
  &__day{
    padding: 0;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__tab{
      width: 100%;
      padding: 20px;
      font-size: 3em;
      text-align: center;
      background-color: rgba(187,176,149,.8);
      color: $white;
      &:focus{
        color: $white;
        text-decoration: none;
      }
      &.active{
        background-color: $back-color;
        color: $text-color;
      }
    }
  }
}

.ticket-information{
  border-top: solid #d2cbb9 2px;
  padding: 100px 0 70px;
  background-color: $back-color;
  .row{
    margin-right: 0;
  }
  &__title{
    margin-bottom: 40px;
  }
  .slick{
    &-slide{
      margin-left: 10px;
      margin-right: 10px;
    }
    &-prev{
      left: -50px;
    }
    &-next{
      right: -15px;
      &:before{
        transform: rotate(180deg);
      }
    }
    &-prev,
    &-next{
      z-index: 2;
      &:before{
        content: '';
        background: url(../images/arrow-red.png) no-repeat;
        display: inline-block;
        width: 50px;
        height: 50px;
      }
    }
  }
  &__map{
    &__container{
      position: relative;
    }
    &__content{
      background: url(../images/map-cover.png) no-repeat;
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;
      background-position: top center;
      padding: 30px 0 0px;
      h4,h5{
        font-size: 2em;
        margin: 0;
        color: $white;
      }
      h5{
        &:last-child{
          margin-bottom: 20px;
        }
      }
      h4{
        text-transform: uppercase;
      }
    }
    &__overlay{
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.2);
      top: 0;
      padding-top: 50px;
      .gps-icon{
        max-width: 30%;
      }
    }
  }
}

/*
  Join Activity
*/

.join-activity{
  padding: 170px 0 150px;
  display: table;
  margin: 0 auto;

  &__container{
    width: 990px;
    margin: 0 auto;
  }
  &__input{
    &-file{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0,0,0,1);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 300px;
      margin-right: -15px;
      cursor: pointer;
      &__img{
        position: absolute;
        left: 0;
        right: 0;
        z-index: 0;
      }
      span{
        font-size: 3em;
        color: #ffffcc;
        text-transform: uppercase;
        width: 90px;
        display: block;
        text-align: center;
        line-height: 1;
        margin: 0 auto;
        position: relative;
        z-index: 1;
      }
    }
    &-text{
      padding-left: 0px;
      textarea{
        width: 100%;
        height: 300px;
        border: none;
        padding: 20px;
        resize: none;
        font-size: 2em;
        padding: 25px 25px 0;
        &:placeholder{
          color: rgb(204,204,204);
        }
        &:focus{
          outline: none;
        }
      }
    }
  }
  &__btn{
    text-align: center;
  }
  #input-file{
    display: none;
  }
}

.shadow-rock-journey{
  position: absolute;
  left: 0;
  top: 0;
}

.modal-thankyou{
  .modal-dialog{
    width: 768px;
  }
  .modal-content{
    margin-top: 15%;
  }
  .modal-body{
    background: url(../images/backgrund-modal-vote.png) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 40px 0 100px;
  }
  &__title{
    font-size: 6em;
  }
  p{
    width: 450px;
    margin: 0 auto;
    font-size: 2em;
    color: $gray;
    letter-spacing: 1px;
    line-height: 1.2;
    span{
      color: $primary-color;
    }
  }
  &__header{
    img{
      position: absolute;
      top: 65px;
      left: 0;
      right: 0;
      z-index: 0
    }
    h1{
      position: relative;
      z-index: 1;
    }
  }
  &__btn{
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
  }
}

/*
  Memories
*/

.memories{
  padding: 200px 0 80px;
  text-align: center;
  position: relative;
  &__content{
    margin-bottom: 40px;
    &__video-overlay{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: rgba(0,0,0,.8);
      i{
        color: $white;
        font-size: 4em;
      }
    }
    &__img{
      cursor: pointer;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      img{
        opacity: 0;
      }
    }
  }
}

.memories-modal-slide{
  .modal-dialog{
    width: 850px;
  }
  .modal-body{
    padding: 50px 40px;
  }
  &--video{
    .modal-dialog{
      margin-top: 8%;
    }
  }
}

.privacy-police,
.faq,
.term-condition{
  padding: 200px 0 80px;
  &__title{
    margin-bottom: 40px;
  }
  &__content{
    text-align: justify;
    h2{
      font-size: 3em;
    }
    p{
      font-size: 1.8em;
      line-height: 1.2;
    }
    ul{
      font-size: 1.8em;
      &.number-list{
        li{
          list-style: lower-roman;
        }
      }
      li{
        span{
          position: relative;
          left: 10px;
        }
        ul{
          font-size: 1em;
          margin-bottom: -30px;
        }
      }
    }
  }
}
/*
  Ticket
*/


.ticket{
  padding: 180px 0 0;
  h2{
    margin: 0 0 40px;
    font-size: 2.8em;
    text-align: center;
    color: $text-color;
  }
  &__container{
    width: 880px;
    margin: 0 auto;
    padding: 0 15px;
    display: table;
    &__content{
      margin-bottom: 80px;
      &:hover{
        .ticket{
          &__img{
            img{
              transform: rotate(-30deg) scale(1.2);
            }
          }
        }
      }
    }
  }
  &__title{
    margin-bottom: 10px;
  }
  &__desc{
    &--right{
      text-align: right;
    }
    h3{
      font-size: 4em;
      text-transform: uppercase;
    }
    h4{
      font-size: 3.6em;
      color: $text-color1;
      margin-bottom: 0;
    }
    p{
      font-size: 2.6em;
      color: $text-color3;
      line-height: 1;
      margin: 0;
    }
  }
  &__img{
    text-align: right;
    &--left{
      text-align: left;
    }
    .img-responsive{
      display: inline-block;
      transition: all ease 0.4s;
    }
  }
}

.modal-buy-ticket{
  .modal-dialog{
    width: 400px;
    margin-top: 11%;
  }
  .modal-body{
    padding: 50px 20px;
    background: url(../images/backgrund-modal-vote.png);
    background-size: cover;
    position: relative;
    color: $gray;
    .close-modal{
      position: absolute;
      top: 10px;
      right: 20px;
      color: $white;
      font-size: 1.4em;
      text-transform: uppercase;
      cursor: pointer;
      &:before{
        content: '';
        background: url(../images/close-modal.png) no-repeat;
        display: inline-block;
        width: 14px;
        height: 14px;
        background-size: 14px;
        position: relative;
        left: -5px;
      }
    }
  }
  &__header{
    h1{
      margin: 0 0 15px;
      text-align: center;
    }
  }
  &__content{
    font-size: 1.6em;
    max-height: 245px;
    overflow: auto;
    span{
      color: $primary-color;
      display: block;
    }
    p{
      margin: 0;
      line-height: 1.2;
      letter-spacing: 2px;
    }
  }
}

.buy-ticket{
  &__container{
    width: 730px;
    margin: 0 auto;
    padding-bottom: 40px;
    display: table;
  }
  &__form{
    label{
      font-size: 1.4em;
      margin-bottom: 0;
      font-weight: 400;
      letter-spacing: 1px;
      span{
        color: $primary-color;
      }
    }
    input:not([type="radio"]){
      width: 100%;
      height: 40px;
      padding-left: 10px;
      font-size: 1.4em;
      border: solid black 1px;
      &.error-input{
        border: solid red 1px;
      }
    }
    &__content{
      margin-bottom: 20px;
      .radio-input{
        [type="radio"]{
          display: none;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label{
          position: relative;
          padding-left: 35px;
          cursor: pointer;
          line-height: 20px;
          display: inline-block;
          color: #666;
          margin-right: 40px;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 18px;
          height: 18px;
          border: 1px solid black;
          border-radius: 100%;
          background: #fff;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
          content: '';
          width: 12px;
          height: 12px;
          background: $primary-color;
          position: absolute;
          top: 3px;
          left: 3px;
          border-radius: 100%;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        [type="radio"]:checked + label:after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
    }
  }
  &__btn{
    text-align: center;
  }
  &__count{
    background-color: rgba(204,204,204,.5);
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 10px;
    h5{
      text-transform: capitalize;
      color: $text-color;
      font-size: 2.3em;
      margin-bottom: 30px;
    }
    h3,h4{
      margin: 0;
    }
    h3{
      font-size: 2em;
    }
    h4{
      font-size: 1.8em;
    }
    .category-ticket{
      position: relative;
      top: -10px;
    }
    .select-location{
      width: 100px;
      font-size: 1.4em;
      height: 40px;
    }
    .select-quantity{
      width: 50px;
      font-size: 1.4em;
    }
  }
  .col-sm-25{
    // width: 100%;
    padding: 0 15px;
    float: left;
  }
  &__info{
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: $text-color3;
    margin: 10px 0 30px;
    display: block;
    span{
      color: black;
    }
  }
}

.upload-file{
  width: 100%;
  height: 250px;
  border: dashed 1px black;
  background-color: $white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  color: $text-color2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  + input{
    display: none;
  }
  span{
    color: $primary-color;
    opacity: .3;
  }
}

.payment-btn{
  text-align: right;
}

.contact{
  &__form{
    margin-top: 30px;
    padding-bottom: 40px;
    #map{
      width: 100%;
      height: 250px;
    }
    &__info{
      margin-top: 40px;
      span{
        display: flex;
        align-items: center;
        i{
          font-size: 2em;
          margin-right: 10px;
          position: relative;
          &.fa-building{
            top: -12px;
          }
          &.fa-phone{
            top: 8px;
          }
          &.fa-envelope{
            top: 9px;
            font-size: 1.6em
          }
        }
        h2,h3{
          color: #333;
          margin: 0;
        }
        h2{
          margin-bottom: 20px;
        }
        h3{
          margin-top: 20px
        }
      }
      p{
        font-size: 2em;
        margin: 0;
        line-height: 1.2;
      }
    }
  }
  &__input{
    margin-bottom: 20px;
    padding-left: 0;
    h2{
      margin: 0;
      text-align: left;
    }
    label{
      display: block;
    }
    textarea{
      width: 100%;
      resize: none;
      border: solid black 1px;
    }
  }
}
